{% extends 'schoolapp/parts/login_form.html' %}

{% block form_class %}form-signin navbar-form navbar-right{% endblock %}
{% block legend %}{% endblock %}
{% block name_label %}{% endblock %}
{% block password_label %}{% endblock %}
{% block button_class %}btn btn-primary{% endblock %}

<!--
<form class="form-signin navbar-form navbar-right">
  <div class="form-group">
    <input type="text" placeholder="Email" class="form-control">
  </div>
  <div class="form-group">
    <input type="password" placeholder="Password" class="form-control">
  </div>
  <button type="submit" class="btn btn-success">Sign in</button>
</form>
-->
