{% extends 'schoolapp/base.html' %}

{% block title %}Вход{% endblock %}

{% block content %}
      <form class="form-signin" action="{% url 'school:do_login' %}" method="post">
        <input type="hidden" name="next" value="{{ next }}" /><br>
        {% csrf_token %}
        <h2 class="form-signin-heading">Войдите</h2>
        <label for="inputUserName" class="sr-only">Имя пользователя</label>
        <input name="username" type="text" id="inputUserName" class="form-control" placeholder="Имя пользователя" required autofocus>
        <label for="inputPassword" class="sr-only">Пароль</label>
        <input name="password" type="password" id="inputPassword" class="form-control" placeholder="Пароль" required>
    {% if error_message %}
        <div class="alert alert-danger" role="alert">
          <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
          <span class="sr-only">Ошибка:</span>
          {{ error_message }}
        </div>
    {% endif %}
        <button class="btn btn-lg btn-primary btn-block" type="submit">Отправить</button>
      </form>
{% endblock %}
