{% extends 'schoolapp/base_layout.html' %}

{% block title %}Класс {{ schoolclass }}{% endblock %}

{% block content %}
    <h1>Школа {{ schoolclass.school }}</h1>
    <h2>Класс {{ schoolclass }}</h2>

    {% if perms.schoolapp.add_homework %}
    <h3>Новое домашнее задание</h3>
    <form class="form-horizontal" action="{% url 'school:add_hw' schoolclass.school.id schoolclass.id %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
            <label for="inputDiscipline" class="col-sm-2 control-label">Предмет</label>
            <div class="col-sm-10">
                <input type="text" name="discipline" class="form-control" id="inputDiscipline">
            </div>
        </div>
        <div class="form-group">
            <label for="inputDescription" class="col-sm-2 control-label">Задание</label>
            <div class="col-sm-10">
                <textarea name="description" class="form-control" rows="3" id="inputDescription"></textarea>
            </div>
        </div>
        <div class="form-group">
            <label for="inputFile" class="col-sm-2 control-label">Файл</label>
            <div class="col-sm-10">
                <input type="file" name="file" id="inputFile">
                <p class="help-block">Можно добавить файл, но необязательно</p>
            </div>
        </div>

        {% if error_message %}
        <div class="alert alert-danger" role="alert">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Ошибка:</span>
            {{ error_message }}
        </div>
        {% endif %}

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default">Сохранить</button>
            </div>
        </div>
    </form>
    {% endif %}


    <h3>Домашнее задание</h3>

    <table class="table">
        <thead>
            <tr>
                <th>Дата</th>
                <th>Учитель</th>
                <th>Предмет</th>
                <th>Задание</th>
                <th>Файл</th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            {% for hw in home_works %}
            <tr>
                <th scope="row">{{ hw.created_at }}</th>
                <td>{{ hw.created_by }}</td>
                <td>{{ hw.discipline }}</td>
                <td>{{ hw.description }}</td>
                <td>
                {% if hw.file %}
                    <a href="{% url 'school:download_hw' schoolclass.school.id schoolclass.id hw.id %}">Скачать</a>
                {% else %}
                    &nbsp;
                {% endif %}
                </td>
                <td>
                {% if perms.schoolapp.delete_homework %}
                    <a style="color: red;" onclick="if(!confirm('Уверены?')){ event.preventDefault(); return false; }" href="{% url 'school:remove_hw' schoolclass.school.id schoolclass.id hw.id %}">Удалить</a>
                {% else %}
                    &nbsp;
                {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
