{% extends 'schoolapp/base.html' %}

{% block title %}Класс {{ schoolclass }}{% endblock %}

{% block content %}
    <h1>Школа {{ schoolclass.school }}</h1>
    <h2>Класс {{ schoolclass }}</h2>


{% if perms.schoolapp.add_homework %}
    <h3>Новое домашнее задание</h3>
    <form action="{% url 'school:add_hw' schoolclass.school.id schoolclass.id %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        Предмет: <input type="text" name="discipline" value="" /><br>
        Описание: <input type="text" name="description" value="" /><br>
        {% if error_message %}<p style="color: red;"><strong>{{ error_message }}</strong></p>{% endif %}
        <input type="file" name="file" /><br>
        <input type="submit" value="Сохранить" />
    </form>
{% endif %}


    <h3>Домашнее задание</h3>
    <ul>
    {% for hw in home_works %}
        <li>
            {{ hw.created_at }}
            <span style="color: #c12e2a">{{ hw.created_by }}</span>
            <span style="color: #265a88">{{ hw.discipline }}</span>
            <strong>{{ hw.description }}</strong>
            {% if hw.file %}
                <a href="{% url 'school:download_hw' schoolclass.school.id schoolclass.id hw.id %}">Скачать</a>
            {% endif %}
            {% if perms.schoolapp.delete_homework %}
                <a style="color: red;" onclick="if(!confirm('Уверены?')){ event.preventDefault(); return false; }" href="{% url 'school:remove_hw' schoolclass.school.id schoolclass.id hw.id %}">Удалить</a>
            {% endif %}
        </li>
    {% endfor %}
    </ul>
{% endblock %}
